.root {
    -fx-background-color: #f4f6f9;
    -fx-font-family: "Segoe UI";
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 8;
    -fx-border-color: #dcdcdc;
}

.button {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 10 18 10 18;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #1d4ed8;
}

.table-view {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

.table-column {
    -fx-alignment: CENTER;
}